body{
    font-family: Roboto, sans-serif;
}

.navbar {
    background-color: #675D50;
}

.nav .nav-link.active {
    background-color: #fff;
    color: #675D50;
}

.nav .nav-link,
.navbar-brand,
.navbar-brand:hover {
    color: #fff;
}


.navbar-toggler {
    background-color: #fff;
}

.section-title {
    font-family: Pacifico, cursive;
}


#sobre-o-restaurante {
    background-color: #F3DEBA;
}

.text-colored {
    color: #675D50;
}